/* common styles */

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Slab', serif;
}

.footer {
    background: #11122b;
    color: #cbcbcb;
    font-family: "ubuntu condensed", sans-serif;
    display: flex;
    justify-content: center;
    /* centers horizontally */
    align-items: center;
    /* centers vertically */
    /* flexbox sets divs as a row by default, to set them in the direction you want use flex-direction. */
    flex-direction: column;
    height: 400px;
    margin-top: -4px;
}

.footer>.logo-footer img {
    width: 216px;
    height: 100%;
    /*'filter: brightness(50%);*/
    opacity: 0.5;
}

.footer>.footer-phone-hours span {
    margin-left: 10px;
    margin-right: 10px;
    foot-size: 1em;
    letter-spacing: 2px;
}

.footer>footer-phone-hours>.hours {
    foot-size: 0.8em;
    color: #cea135;
    text-transform: uppercase;
}

.footer>.links-wrapper {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 400px;
}

.footer>.social-media-icons-wrapper {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 300px;
    display: flex;
    justify-content: space-around;
}

.footer>.social-media-icons-wrapper a {
    font-size: 1.5em;
    color: #cbcbcb;
}

.footer>.social-media-icons-wrapper a:hover {
    color: #cea135
}


/*Skewed header*/

.skewed-header {
    position: relative;
    height: 400px;
    overflow: hidden;
}

.skewed-header>.header-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    transform: skewY(-6deg);
    transform-origin: top left;
    filter: brightness(50%);
}

.skewed-header>.skewed-header-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100vw;
}

.skewed-header>.skewed-header-wrapper>.skewed-header-content {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skewed-header>.skewed-header-wrapper>.skewed-header-content>.heading-wrapper {
    background-color: #cea135;
    color: #11122b;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    width: 175px;
    padding: 10px;
    text-align: center;
}